In [29]:
import pandas as pd
import json
PATH = 'data/'

In [22]:
w = pd.read_csv(PATH + 'watchedRel.csv')
w = w.merge(pd.read_csv(PATH + 'releaseRel.csv'), on='movieId', how='left')
w = w.merge(pd.read_csv(PATH + 'movieNode.csv'), on='movieId', how='left')
w

         userId  movieId  releaseDate                       movieTitle
0             1     1193         1975  One Flew Over the Cuckoo's Nest
1             1      661         1996        James and the Giant Peach
2             1      914         1964                     My Fair Lady
3             1     3408         2000                  Erin Brockovich
4             1     2355         1998                    Bug's Life, A
...         ...      ...          ...                              ...
1000204    6040     1091         1989              Weekend at Bernie's
1000205    6040     1094         1992                 Crying Game, The
1000206    6040      562         1995         Welcome to the Dollhouse
1000207    6040     1096         1982                  Sophie's Choice
1000208    6040     1097         1982       E.T. the Extra-Terrestrial

[1000209 rows x 4 columns]

In [26]:
# keep only ratings for movies released in 2000
w_2000 = w[(w['releaseDate'] == 2000) | (w['releaseDate'] == 1999)]

# count unique users per movie and keep those with at least 50 users
user_counts_2000 = w_2000.groupby('movieId')['userId'].nunique()
popular_movie_ids_2000 = user_counts_2000[user_counts_2000 >= 50].index

# filtered dataframe: movies from 2000 with >= 50 users
w_popular_2000 = w_2000[w_2000['movieId'].isin(popular_movie_ids_2000)]

w_popular_2000

         userId  movieId  releaseDate                             movieTitle
3             1     3408         2000                        Erin Brockovich
16            1     2687         1999                                 Tarzan
31            1     3186         1999                      Girl, Interrupted
38            1     2762         1999                       Sixth Sense, The
50            1     3114         1999                            Toy Story 2
...         ...      ...          ...                                    ...
1000068    6040     2997         1999                   Being John Malkovich
1000108    6040     3289         1999  Not One Less (Yi ge dou bu neng shao)
1000169    6040     2725         1999                       Twin Falls Idaho
1000179    6040     2762         1999                       Sixth Sense, The
1000191    6040     3751         2000                            Chicken Run

[125276 rows x 4 columns]

In [27]:
w_popular_2000 = w_popular_2000.drop_duplicates(subset=["movieTitle"])[["movieId", "movieTitle"]]
w_popular_2000

       movieId                             movieTitle
3         3408                        Erin Brockovich
16        2687                                 Tarzan
31        3186                      Girl, Interrupted
38        2762                       Sixth Sense, The
50        3114                            Toy Story 2
...        ...                                    ...
30251     2589                       Friends & Lovers
44374     2446                              In Dreams
47449     3289  Not One Less (Yi ge dou bu neng shao)
50382     2885                              Guinevere
62382     3790                                 Groove

[297 rows x 2 columns]

In [30]:
records = w_popular_2000.copy()
records['movieId'] = records['movieId'].astype(str)
records = records.to_dict(orient='records')
out_path = 'experiments/test_ids.json'
with open(out_path, 'w', encoding='utf-8') as f:
    json.dump(records, f, ensure_ascii=False, indent=4)